.app{
    display: flex;
    flex-wrap: wrap; 
    
    justify-content: space-around; 
    align-items: center; 
    flex-direction: row; 
    align-content: space-around;

    padding: 40px calc((100% - (333px * 3)) / 2)
  }